.controlsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;
  max-width: 800px;
  margin-inline: auto;
  padding-block: 15px;
}

.emptyMessage {
  margin-top: 0.6em;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: var(--text-color);
}

.select {
  flex-grow: 1;
  height: 40px;
  padding: 5px;
  color: var(--text-color);
  background-color: var(--card-bg-color);
  border: none;
  border-radius: 10px;
  outline: none;
}

@media (max-width: 576px) {
  .controlsContainer {
    flex-wrap: wrap-reverse;
  }
}